*.suo
.*.user
.*.orig
bin/
obj/
.vs/
setup/Output/
Backup/
.*.log
/Hosts/FastFish.Mini.Supply.Host/log-data/s
/Hosts/FastFish.F4.Host/log-data/s
/FastFish.Base.Test/log-data
/Hosts/FastFish.Fitting.Host/log-data
*.txt
/Hosts/FastFish.PAD.Host.rar
/Hosts/FastFish.PAD.Host/log-data/s
/Hosts/FastFish.Mini.SNS.Host/log-data/s
/.sonarqube
packages/
log-date/
src/log-date/
.idea/
src/log-data/s/
